html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    display: none;
}

.container {
    min-height: 100%;
    position: relative;
}

.header {
    color: #c34111;
}

.banner {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.banner_child {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
}

.banner_child .title {
    padding: 20px 10px;
}

.banner_child .title.highlight:hover {
    background-color: #333;
}

.menubar {
    width: 100%;
    background-color: #007aac; 
    color: #fff;
}

.menubar_child {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    
}

.menubar .category {
    padding: 10px;
}

.menubar .category:hover {
    background: #005a80;
}

.menubar .category a {
    text-decoration: none;
    color: #fff;

}

.themeLeft {
    float: left;
}

.themeRight {
    float: right;
}

.themeClear {
    clear: both;
}

.content {
    padding-bottom: 30px;
    width: 100%;
}

.content_child {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #007aac; 
    color: #eee;
    height: 30px;
}

.footer_child {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 5px;
}

.menu {
	position: absolute;
	color: #007acc;
	left: auto;
	right: auto;
	top: auto;
	z-index: 1000;
    padding: 10px;
    border: 1px solid #007aac;
    background: #fff;
    margin-top: 9px;
    margin-left: -10px;
    min-width: 100px;
    box-shadow: 3px 3px 3px #777;
}

.menubar .menu a {
    display: block;
    color: #007acc;
    padding: 5px;
}

.menubar .menu a:hover {
    background-color: #007aac; 
    color: #fff;
}